body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f0f4f8, #d9e4ec);
    text-align: center;
    padding: 30px;
    margin: 0;
    background: linear-gradient(90deg, #0f16df, #57025f) ;
}

h1 {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: bold;
    color:whitesmoke;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    min-width: auto;
    width: 67vw;
    margin-left: 15%;
    height: 55vh;
}

.card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow:8px 8px 10px black;
    padding: 20px;
    width: 280px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

h2 {
    color: #34495e;
    margin-bottom: 15px;
    font-size: 20px;
}

input[type="file"] {
    margin: 15px 0;
    padding: 5px;
}

button {
    background: #ff4800;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s ease;
}

button:hover {
    background: #ff0400;
}

.result {
    margin-top: 30px;
    padding: 20px;
    background: #f9f9f9;
    border: 2px solid #007BFF;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.count {
    font-size: 22px;
    font-weight: bolder;
    color: #000000;
    margin: 10px 0;
}

.error {
    color: #e74c3c;
    font-weight: bold;
    margin: 10px 0;
    font-size: 18px;
}

.output-img {
    margin-top: 15px;
    border: 4px solid #007BFF;
    border-radius: 10px;
    max-width: 600px;
}

.divh2{
    position: relative;
    width: auto;
    margin-left: 2%;
    font-size:x-large;
}

.form{
    padding: 12px;
    background-color: #0056b3;
    border-radius: 12px;
    height: 30%;
    margin-top: 12%;
    box-shadow: 10px 10px 10px #012244;
}

.anchor{
    margin-top: 15%;
}